[Service]
Environment="http_proxy={{proxy_env['http_proxy']}}"
Environment="ftp_proxy={{proxy_env['ftp_proxy']}}"
Environment="https_proxy={{proxy_env['https_proxy']}}"
Environment="no_proxy=localhost,127.0.0.1"
Environment="HTTP_PROXY={{proxy_env['HTTP_PROXY']}}"
Environment="FTP_PROXY={{proxy_env['FTP_PROXY']}}"
Environment="HTTPS_PROXY={{proxy_env['HTTPS_PROXY']}}"
Environment="NO_PROXY=localhost,127.0.0.1"
